<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true">
	<servlet>
		<servlet-name>smartConf</servlet-name>
		<servlet-class>com.clickntap.smart.SmartConfServlet</servlet-class>
		<init-param>
			<param-name>smartEnv</param-name>
			<param-value>etc/pns.togocms.com-env.properties</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>smart</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/conf/auto/webapp-beans.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>smart</servlet-name>
		<url-pattern>*.app</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>